%h1 Create Story
.backlink
  - if @parent_phread
    &larr;
    %a{:class => "awesome small silver", :href => @parent_phread.url}= "Back to Story <em>#{@parent_phread.title}</em>"
  - if @category
    &larr;
    %a{:class => "awesome small silver", :href => BoardController.r(@category.url)}= "Back to Catgory <em>#{@category.title}</em>"

- if @preview and @preview.kind_of?(Struct)
  #preview
    %h2 Preview
    .pbody
      = render_file "view/s/preview.haml", :preview => @preview

#create
  %h2 Form
  %form{:method => :post, :action => BoardController.r(:create, @form_append)}
    %input{:type => :hidden, :name => :category, :value => (@preview["category"] or (@category and @category.id))}
    %input{:type => :hidden, :name => :phreadid, :value => (@preview["phreadid"] or (@parent_phread and @parent_phread.id))}
    %fieldset
      %legend= @legend
      %ul
        %li
          %label{:for => :title} Topic
          %input{:value => @preview["title"], :type => :title, :name => :title, :class => :title, :id => :title}
        %li
          %label{:for => :body} Text
          %textarea{:name => :body, :class => :body, :id => :body}= @preview["body"]
        %li
          - if @preview.kind_of?(Struct)
            %label{:for => :sub} &nbsp;
            %input{:type => :submit, :name => :submit, :class => "awesome submit", :id => :submit, :value => "Submit"}

          %label{:for => :preview} &nbsp;
          %input{:type => :submit, :name => :preview, :class => "awesome preview", :id => :preview, :value => "Preview"}
        
