!!! XML
!!! Strict
%html
  %head

    %title= Palavr::version
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/squaregrid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-ui-1.8.6.custom.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css" }=''
    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.ui.autocomplete.custom.css" }=''
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript"}
      google.load("jquery", "1.4", {uncompressed:true});
      google.load("jqueryui", "1.8", {uncompressed:true});

    %script{:type => "text/javascript", :src => "/js/jquery.simplemodal-1.4.1.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery-ui-1.8.autocomplete.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.dimensions.js"}=""
    %script{:type => "text/javascript", :src => "/js/tag-it.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.tooltip.js"}=""
    %script{:type => "text/javascript", :src => "/js/ajaxupload.js"}=""        
    %script{:type => "text/javascript", :src => "/js/board.js"}=""
    
  %body
    / Icon set: http://brsev.deviantart.com/art/Token-128429570
    %a{:href => "/"}
      #logo
    = render_file "view/top.haml"
    #wrap.sg-34
      = render_file "view/search/simple.haml"
      - if flash[:error]
        #error
          - [flash[:error]].flatten.each do |err|
            %p= err
      = @content
      .push
    = render_file "view/foot.haml"

          
