#phread
  .top
    %h1= @phread.title
    .line
      %span.by
        by
        = @phread.from.profile_link + ", "
        = @phread.created_at.to_s(false)
      .backlink
        = "&larr; " + @phread.backlink
  .body
    = @phread.body
- if @phread.phreads.size > 0
  #threads.sub
    %threads
      - @phread.phreads.each do |thread|
        = render_file "view/thread/_thread.haml", :phread => thread


