#phread
  .top
    %h1
      - unless @phread.readonly?
        .icn
          %a{:class => "ttip", :title => "#{Tooltip(:tree_link)}", :href => PhreadController.r(:tree, @phread.id)}= Icon(:flowchart, "orange", 24, 24, 32)
      = @phread.title
    .line
      - if session_user
        .rating
          = @phread.star(session_user)
      %span.by
        by
        = @phread.from.profile_link
        %span.date= @phread.created_at.to_s(false)
        // .srating{:title => "#{@phread.liker.size} people like this"}
        //   = @phread.liker.size
      .backlink
        - if @phread.parent
          = "&larr; " + @phread.backlink
        = "&larr; " + @phread.category.link
  .body{:id => "phread_#{@phread.id}"}
    = @phread.html_body
  - unless @phread.readonly?
    %div{:class => "sub ttip", :title => Tooltip(:write_on)}
      %a{:class => "awesome orange medium", :href => BoardController.r(:create, :phreadid => @phread.id)} Write On!
  = render_file "view/t/tag_for.haml", :phread => @phread
- if @phread.phreads.size > 0 and @phread.phreads.reject{|p| p.after_parent_chap}.size > 0
  %div{:id => :threads, :class => "ttip sub"}
    %h2{:class => "ttip", :title => "#{Tooltip(:follow_ups)}" } Follow Ups
    %threads
      - @childs.each do |thread|
        - unless thread.after_parent_chap
          = render_file "view/thread/_thread.haml", :phread => thread

#license
  = render_file "view/license/ccas30.html"
