#phread
  .top
    %h1
      .srating{:title => "#{@phread.liker.size} people like this"}
        = @phread.liker.size
      .icn
        %a{:href => PhreadController.r(:tree, @phread.id)}= Icon(:flowchart, "orange", 24, 24, 32)
      = @phread.title
    .line
      - if session_user
        .rating
          = @phread.star(session_user)
      %span.by
        by
        = @phread.from.profile_link + ", "
        = @phread.created_at.to_s(false)
      .backlink
        - if @phread.parent
          = "&larr; " + @phread.backlink
        = "&larr; " + @phread.category.link
  .body{:id => "phread_#{@phread.id}"}
    = @phread.html_body
  .sub
    %a{:class => "awesome silver medium", :href => BoardController.r(:create, :phreadid => @phread.id)} Write On!
  .tagline
    %label{:for => :mytags} Tags
    %div.tags
      - @phread.tags.each do |tag|
        %span= tag.tag
    %ul#mytags

- if @phread.phreads.size > 0
  #threads.sub
    %h2 Follow Ups
    %threads
      - @phread.phreads.each do |thread|
        - unless thread.after_parent_chap
          = render_file "view/thread/_thread.haml", :phread => thread


