.phread
  .top
    %h1
      - unless @phread.readonly?
        .icn
      .perm
        %a{:href => @phread.url, :class => "ttip", :title => "Permalink"} &para;
      = @phread.title
    .line
      - if session_user
        .rating
          = @phread.star(session_user, true, 24, 24)
      .lis
        %a{:class => "ttip", :title => "#{Tooltip(:tree_link)}", :href => PhreadController.r(:tree, @phread.id)}
          = Icon(:flowchart, "grey", 24, 24, 32, "data-hoverimg-color" => "blue")
        %a{:class => "ttip", :title => "#{Tooltip(:stream_link)}", :href => PhreadController.r(:stream, @phread.id)}
          = Icon(:news, "grey", 24, 24, 32, "data-hoverimg-color" => "blue")
      %span.by
        by
        = @phread.from.profile_link
        %span.date.ttip{:title => @phread.created_at.to_s}= @phread.created_at.to_s(false)
      .backlink
        - if @phread.parent
          = "&larr; " + @phread.backlink
        = "&larr; " + @phread.category.link
  .body{:id => "phread_#{@phread.id}"}
    = @phread.html_body
  - unless @phread.readonly?
    %div{:class => "sub ttip", :title => Tooltip(:write_on)}
      %a{:class => "awesome silver medium", :href => BoardController.r(:create, :phreadid => @phread.id)} Write On!
  - if not @stream
    = render_file "view/t/tag_for.haml", :phread => @phread
- if @phread.phreads.size > 0 and @phread.phreads.reject{|p| p.after_parent_chap}.size > 0 and not @stream
  %div{:id => :threads, :class => "ttip sub"}
    %h2{:class => "ttip", :title => "#{Tooltip(:follow_ups)}" } Follow Ups
    %threads
      - @childs and @childs.each do |thread|
        - unless thread.after_parent_chap
          = render_file "view/thread/_thread.haml", :phread => thread
- if not @stream
  #disqus
    = render_file "view/disqus.html"
  #liker
    %h2 People who like this Story
    %ul
      - @phread.liker.each do |liker|
        %li= liker.profile_link
- if not @stream
  #license
    = render_file "view/license/ccas30.html"
#socialfoo
  = render_file "view/thread/social.haml", :title => @title, :uri => (request.env["REQUEST_URI"] + "#phread")
    
