#tree
  %h1
    Tree for
    %em= @phread.title
    = "<span class='unimp'>(#{@phread.category.title})"
  .backlink
    = "&larr; " + @phread.category.link
    = "&larr; " + @phread.link
  = phreadsub(phread)
