- title = CGI.escape("#{title} #{@uri}")
%ul
  %li
    %a{:href => "http://twitter.com/home?status=#{title+CGI.escape(' #palavr')}" }
      %img{:src => "/img/smedia/twitter.png", :width => 48, :height => 48}
  %li
    %a{:href => "http://reddit.com/submit?url=#{@uri}&title=#{@title}"}
      %img{:src => "/img/smedia/reddit.jpg", :width => 48, :height => 48}
  %li
    %a{:href => "http://www.google.com/bookmarks/mark?op=edit&output=popup&bkmk=#{@uri}"}
      %img{:src => "/img/smedia/google.jpg", :width => 48, :height => 48}
  // %li
  //   %a{:href => "http://reddit.com/submit?url=#{@uri}&title=#{@title}"}
  //     %img{:src => "/img/smedia/facebook.png", :width => 48, :height => 48}
