.cat
  .main
    .add
      .info{:title => "#{@cat.phreads.size} Stories"}= @cat.phreads.size
    .img
      %a{:href => @cat.url}
        %img{:src => "#{@cat.pic}", :height => 96, :width => 96}
    .title
      %h1
        %a{:href => @cat.url}= @cat.title
    %p.desc
      = @cat.description
    .sec{:class => :modlist}
      %em Moderators:
      = @cat.mods.map{|mod| mod.display_name}.join(", ")
  
